@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Glassmorphism & Logic */
#text-layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0.2;
  line-height: 1;
}

#text-layer > span {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0% 0%;
}

.glass-panel {
  @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
}
